- register_javascripts "barclamps/cinder/form"

= attributes_for @proposal do
  .panel-sub
    = header @dep_raw, true

  .panel-body
    %fieldset
      %legend
        = t(".barclamp_settings")

      = boolean_field :debug

    %fieldset
      %legend
        = t(".cmapi_settings")

      = select_field %w(cmapi deployment_type), :collection => :deployments_for_clouderamanager
      = string_field %w(cmapi server_port)
      = string_field %w(cmapi username)
      = string_field %w(cmapi password)
      = boolean_field %w(cmapi use_tls)
      = string_field %w(cmapi version)

    %fieldset
      %legend
        = t(".server_settings")

      = select_field %w(server db_type), :collection => :databases_for_clouderamanager

    %fieldset
      %legend
        = t(".cluster_settings")

      = string_field %w(cluster cluster_name)
      = string_field %w(cluster cdh_version)
      = text_field %w(cluster license_key), :size => "80x5"

    .alert.alert-warning
      You can find the Hadoop cluster node information
      = link_to "here", "nodes"
