
%input#proposal_attributes{:type => "hidden", :name => "proposal_attributes", :value => @proposal.raw_data['attributes'][@proposal.barclamp].to_json}
%p
  %label{:for => "proposal_attributes"}= t('.attributes')
  = link_to "Raw", proposal_barclamp_path(:id => @proposal.name, :controller => @proposal.barclamp, :dep_raw => @dep_raw, :attr_raw => true), :style => "float: right;"
  %div.container

    %p
    %br
    %strong= t('.os_limits')

    %p
      %label{ :for => :mapred_openfiles }= t('.mapred_openfiles')
      %input#mapred_openfiles{:type => "text", :name => "mapred_openfiles", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp][:os]["mapred_openfiles"], :onchange => "update_value('os', 'mapred_openfiles', 'string')"}

    %p
      %label{ :for => :hdfs_openfiles }= t('.hdfs_openfiles')
      %input#hdfs_openfiles{:type => "text", :name => "hdfs_openfiles", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp][:os]["hdfs_openfiles"], :onchange => "update_value('os', 'hdfs_openfiles', 'string')"}

    %p
      %label{ :for => :hbase_openfiles }= t('.hbase_openfiles')
      %input#hbase_openfiles{:type => "text", :name => "hbase_openfiles", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp][:os]["hbase_openfiles"], :onchange => "update_value('os', 'hbase_openfiles', 'string')"}

    %p
    %br
    %strong= t('.service_monitor_attributes')

    %p
      %label{ :for => :sm_db_name }= t('.sm_db_name')
      %input#sm_db_name{:type => "text", :name => "sm_db_name", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp][:database]["sm_db_name"], :onchange => "update_value('database', 'sm_db_name', 'string')"}

    %p
      %label{ :for => :sm_db_user }= t('.sm_db_user')
      %input#sm_db_user{:type => "text", :name => "sm_db_user", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp][:database]["sm_db_user"], :onchange => "update_value('database', 'sm_db_user', 'string')"}

    %p
      %label{ :for => :sm_db_pass }= t('.sm_db_pass')
      %input#sm_db_pass{:type => "text", :name => "sm_db_pass", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp][:database]["sm_db_pass"], :onchange => "update_value('database', 'sm_db_pass', 'string')"}

    %p
    %br
    %strong= t('.activity_monitor_attributes')

    %p
      %label{ :for => :am_db_name }= t('.am_db_name')
      %input#am_db_name{:type => "text", :name => "am_db_name", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp][:database]["am_db_name"], :onchange => "update_value('activity_monitor', 'am_db_name', 'string')"}

    %p
      %label{ :for => :am_db_user }= t('.am_db_user')
      %input#am_db_user{:type => "text", :name => "am_db_user", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp][:database]["am_db_user"], :onchange => "update_value('activity_monitor', 'am_db_user', 'string')"}

    %p
      %label{ :for => :am_db_pass }= t('.am_db_pass')
      %input#am_db_pass{:type => "text", :name => "am_db_pass", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp][:database]["am_db_pass"], :onchange => "update_value('activity_monitor', 'am_db_pass', 'string')"}

    %p
    %br
    %strong= t('.resource_manager_attributes')

    %p
      %label{ :for => :rm_db_name }= t('.rm_db_name')
      %input#rm_db_name{:type => "text", :name => "rm_db_name", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp][:database]["rm_db_name"], :onchange => "update_value('database', 'rm_db_name', 'string')"}

    %p
      %label{ :for => :rm_db_user }= t('.rm_db_user')
      %input#rm_db_user{:type => "text", :name => "rm_db_user", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp][:database]["rm_db_user"], :onchange => "update_value('database', 'rm_db_user', 'string')"}

    %p
      %label{ :for => :rm_db_pass }= t('.rm_db_pass')
      %input#rm_db_pass{:type => "text", :name => "rm_db_pass", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp][:database]["rm_db_pass"], :onchange => "update_value('database', 'rm_db_pass', 'string')"}

  