
%input#proposal_attributes{:type => "hidden", :name => "proposal_attributes", :value => @proposal.raw_data['attributes'][@proposal.barclamp].to_json}
%p
  %label{:for => "proposal_attributes"}= t('.attributes')
  = link_to "Raw", proposal_barclamp_path(:id => @proposal.name, :controller => @proposal.barclamp, :dep_raw => @dep_raw, :attr_raw => true), :style => "float: right;"
  %div.container

    %p
    %br
    %strong= t('.barclamp_settings')

    %p
      %label{ :for => :debug }= t('.debug')
      = select_tag :debug, options_for_select([['false', false],['true', true]], @proposal.raw_data['attributes'][@proposal.barclamp]["debug"]), :onchange => "update_value('debug', 'debug', 'boolean')"

    %p
    %br
    %strong= t('.os_settings')

    %p
      %label{ :for => :fs_type }= t('.fs_type')
      = select_tag :fs_type, options_for_select([['ext3','ext3'],['ext4', 'ext4'],['xfs', 'xfs']], @proposal.raw_data['attributes'][@proposal.barclamp][:os]["fs_type"]), :onchange => "update_value('os/fs_type', 'fs_type', 'string')"

    %p
      %label{ :for => :mapred_openfiles }= t('.mapred_openfiles')
      %input#mapred_openfiles{:type => "text", :name => "mapred_openfiles", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp][:os]["mapred_openfiles"], :onchange => "update_value('os', 'mapred_openfiles', 'string')"}

    %p
      %label{ :for => :hdfs_openfiles }= t('.hdfs_openfiles')
      %input#hdfs_openfiles{:type => "text", :name => "hdfs_openfiles", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp][:os]["hdfs_openfiles"], :onchange => "update_value('os', 'hdfs_openfiles', 'string')"}

    %p
      %label{ :for => :hbase_openfiles }= t('.hbase_openfiles')
      %input#hbase_openfiles{:type => "text", :name => "hbase_openfiles", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp][:os]["hbase_openfiles"], :onchange => "update_value('os', 'hbase_openfiles', 'string')"}

    %p
    %br
    %strong= t('.ha_settings')

    %p
      %label{ :for => :shared_edits_directory }= t('.shared_edits_directory')
      %input#shared_edits_directory{:type => "text", :name => "shared_edits_directory", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp][:ha]["shared_edits_directory"], :onchange => "update_value('ha', 'shared_edits_directory', 'string')"}

    %p
      %label{ :for => :shared_edits_export_options }= t('.shared_edits_export_options')
      %input#shared_edits_export_options{:type => "text", :name => "shared_edits_export_options", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp][:ha]["shared_edits_export_options"], :onchange => "update_value('ha', 'shared_edits_export_options', 'string')"}

    %p
      %label{ :for => :shared_edits_mount_options }= t('.shared_edits_mount_options')
      %input#shared_edits_mount_options{:type => "text", :name => "shared_edits_mount_options", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp][:ha]["shared_edits_mount_options"], :onchange => "update_value('ha', 'shared_edits_mount_options', 'string')"}

    %p
    %br
    %strong= t('.cluster_settings')

    %p
      %label{ :for => :license_key }= t('.license_key')
      %input#license_key{:type => "text", :name => "license_key", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp][:cluster]["license_key"], :onchange => "update_value('cluster', 'license_key', 'string')"}
    