
%input#proposal_attributes{:type => "hidden", :name => "proposal_attributes", :value => @proposal.raw_data['attributes'][@proposal.barclamp].to_json}
%p
  %label{:for => "proposal_attributes"}= t('.attributes')
  = link_to "Raw", proposal_barclamp_path(:id => @proposal.name, :controller => @proposal.barclamp, :dep_raw => @dep_raw, :attr_raw => true), :style => "float: right;"
  %div.container

    %p
    %br
    %strong= t('.os_limits')

    %p
      %label{ :for => :mapred_openfiles }= t('.mapred_openfiles')
      %input#mapred_openfiles{:type => "text", :name => "mapred_openfiles", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp][:os]["mapred_openfiles"], :onchange => "update_value('os', 'mapred_openfiles', 'string')"}

    %p
      %label{ :for => :hdfs_openfiles }= t('.hdfs_openfiles')
      %input#hdfs_openfiles{:type => "text", :name => "hdfs_openfiles", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp][:os]["hdfs_openfiles"], :onchange => "update_value('os', 'hdfs_openfiles', 'string')"}

    %p
      %label{ :for => :hbase_openfiles }= t('.hbase_openfiles')
      %input#hbase_openfiles{:type => "text", :name => "hbase_openfiles", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp][:os]["hbase_openfiles"], :onchange => "update_value('os', 'hbase_openfiles', 'string')"}

  